// styles/utils/_variables.scss
$primary-color: #ffe600;
$secondary-color: #3483fa;
$dark-gray-color: #606060;
$light-gray-color: #f3f3f3;
$background-color: #f6f4f9;
$white-color: #ffffff;
$black-color: #000000;